html {
  font-size: 62.5%; /*62.5% of 16px = 10px*/
  /*background-color: red;*/
}

@media (min-width: 20rem) { /* 20rem*/
    html {
      background-color: lemonchiffon;
      font-size: 200%; /*200% of 16px = 32px*/
    }
  }
  
@media (min-width: 30rem) { /* 30em*/
  html {
    background-color: lightblue;
    font-size: 300%; /* 300% of 16px*/
  }
}

p {
  font-size: .35rem;
  padding-top: 200px;
}
